.container{
    width: 700px;
    height: 1400px;
    box-shadow: 4px 5px 10px black;
    background-color: rgb(43, 139, 139);
    margin: 0 auto;
    
}

h1{
    text-align: center;
    color: rgb(252, 252, 255);
}

input{
    width: 90% !important;
    padding: 10px;
    margin: 0 auto;
    margin-top: 7px !important;
}

.btn{
    width: 90%;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
}

table{
    width: 100%;
}

table,th,td{
    padding: 10px;
    text-align: center;
    color: white !important;
    border: 1px solid white;
    border-collapse: collapse;
}

.dataText{
    font-size: 2rem;
}